<div>
    <h2 translate="metroquitoApp.agreementAct.home.title">Agreement Acts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="agreement-act.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="metroquitoApp.agreementAct.home.createLabel">
                        Create new Agreement Act
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyRepresentative"><span translate="metroquitoApp.agreementAct.companyRepresentative">Company Representative</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="company"><span translate="metroquitoApp.agreementAct.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span translate="metroquitoApp.agreementAct.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="annexedAct"><span translate="metroquitoApp.agreementAct.annexedAct">Annexed Act</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="agreementAct in vm.agreementActs track by agreementAct.id">
                    <td><a ui-sref="agreement-act-detail({id:agreementAct.id})">{{agreementAct.id}}</a></td>
                    <td>{{agreementAct.companyRepresentative}}</td>
                    <td>{{agreementAct.company}}</td>
                    <td>{{agreementAct.content}}</td>
                    <td>
                        <a ng-if="agreementAct.annexedAct" ng-click="vm.openFile(agreementAct.annexedActContentType, agreementAct.annexedAct)">
                            <img data-ng-src="{{'data:' + agreementAct.annexedActContentType + ';base64,' + agreementAct.annexedAct}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="agreementAct.annexedAct">{{agreementAct.annexedActContentType}}, {{vm.byteSize(agreementAct.annexedAct)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="agreement-act-detail({id:agreementAct.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agreement-act.edit({id:agreementAct.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agreement-act.delete({id:agreementAct.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
