
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActivityBreakdownLabel" translate="metroquitoApp.activityBreakdown.home.createOrEditLabel">Create or edit a Activity Breakdown</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.activityBreakdown.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.activityBreakdown.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="metroquitoApp.activityBreakdown.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="vm.activityBreakdown.year"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="metroquitoApp.activityBreakdown.month" for="field_month">Month</label>
            <input type="number" class="form-control" name="month" id="field_month"
                    ng-model="vm.activityBreakdown.month"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="metroquitoApp.activityBreakdown.planningPercent" for="field_planningPercent">Planning Percent</label>
            <input type="number" class="form-control" name="planningPercent" id="field_planningPercent"
                    ng-model="vm.activityBreakdown.planningPercent"
                     />
        </div>

        <div class="form-group">
            <label translate="metroquitoApp.activityBreakdown.activityPoa" for="field_activityPoa">Activity Poa</label>
            <select class="form-control" id="field_activityPoa" name="activityPoa" ng-model="vm.activityBreakdown.activityPoaId" ng-options="activityPoa.id as activityPoa.id for activityPoa in vm.activitypoas"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="metroquitoApp.activityBreakdown.subactivity" for="field_subactivity">Subactivity</label>
            <select class="form-control" id="field_subactivity" name="subactivity" ng-model="vm.activityBreakdown.subactivityId" ng-options="subactivity.id as subactivity.id for subactivity in vm.subactivities"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
